*  {
    margin:0;
    padding:0;
    font-family: helvetica, sans-serif;
    text-rendering: optimizeLegibility;

    -webkit-font-smoothing: antialiased;
}
.clear { clear: both; }
.wrapper {
    min-height: 100vh;
    padding: 0 10vh;
}

.header {
    display: block;
    background: transparent;
	color: dimgrey;
	padding: .5rem 0 .6rem;
    position: relative;
	box-sizing: border-box;
}

.header p {
	font-size: .6rem;
	display: inline-block;
	text-transform: uppercase;
}
.content{margin:auto;padding: 0 .33vw;}
.slick-slider{ margin: 2vh auto 7vh;}

h1 {
	font-size: 1.2rem;
	font-weight: 200;
	display: inline-block;
}
h2 {
    color: rgba(255,255,255,.8);
    font-size: .9rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2pt;
}
a {
	text-decoration: none;
	color: inherit;
}
li {
    list-style: none;
}
/* ---- Header ---- */
.siteName {
	display: inline-block;
	height: 1.8rem;
	font-size: 3.8rem;
    font-family: Sans-serif;
    font-weight: bold;
    overflow: hidden;
    position: relative;
    opacity: .2;
}
/* - SVG text - */
.siteName svg {
    width: 24.2rem;
    height: 4rem;
}
.right-labels {
	position: absolute;
	top: 1rem;
	right: 1rem;
}
.right-labels div {
    font-size: .8rem;
}

/* ---- MENU ---- */
.menu {
  opacity: .7;
}
.menu:hover {
  opacity: 1;
}

/* ---- CONTAIN ---- */
.contain {
  position: relative;
}
.placeholder_container {
  width: 100%;
  display: inline-block;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}
.placeholder {
    width:  calc(33.33% - .666vw);
    height:calc(50vh - 10.5vh);
    margin: 0 1vw 2vh 0;
    float: left;
    position: relative;
    overflow: hidden;
    box-sizing:border-box;
}
a:nth-child(3) .placeholder,
a:nth-child(6) .placeholder {
    margin-right: 0;
}
.placeholder:after {
    position: absolute;
    content: '';
    width:  100%;
    height: calc(50vh - 10.5vh);
    opacity:.19;
}
.placeholder.turn_black div {
  line-height: 1.5em;
}
.placeholder.turn_black div::after {
    content:'';
    position: absolute;
    width: .6em;
    height: .6em;
    top:1.2rem;
    right: 1rem;
    background: url(../assets/btns/close_whte_icon.svg) center no-repeat;
    background-size: .4em;
    border: 2px solid rgba(255,255,255,.8);
    border-radius: 2em;
}

.turn_black:after {
    -webkit-filter: blur(5px);
    filter: blur(5px);
}
.turn_black::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 2;
    opacity: .8;
}
.placeholder:hover::after {
    opacity: 1;
}
.placeholder.contracted:after {
    opacity: .3;
}
.placeholder div {
    text-align: center;
    line-height: calc(50vh - 10.5vh);
    color: rgba(40,40,40,.2);
    font-size: 3rem;
    position: absolute;
    width: 100%;
    mix-blend-mode: luminosity;
    z-index: 1;
}
.placeholder:hover {
    box-shadow: 2pt 5pt 10pt 2pt rgba(0,0,0,.2);
}
.placeholder.contracted:after {
    position: absolute;
    content: '';
    width: 2rem;
    height: 2rem;
    transform: translate(0,-2rem);
    -webkit-transform: translate(0,-2rem);
    z-index: 0;
}
.placeholder.contracted {
      width:  auto;
      height: 2rem;
      margin: 1vh .7rem;
      padding: 0 0 0 0;
      display: inline-block;
      box-sizing:border-box;
}
.placeholder:hover div,
.placeholder.contracted:hover div {
    color: white;
}

.placeholder.contracted div {
      line-height: 2rem;
      color: rgba(255,255,255,.7);
      font-size: 1rem;
      font-weight: 100;
      background: rgba(255,255,255,.2);
      margin-left: 2.5rem;
      padding: 0 .5rem;
      position: relative;
      width: auto;
}


/* ------  Oscar empieza sus cochinadas  ------ */

.index-menu-box {
    width:26vw;
    height:23vw;
    margin: 0 1vw 1vw 0;
    float: left;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;

    -webkit-transition: all 1200ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -moz-transition: all 1200ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -o-transition: all 1200ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition: all 1200ms cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */

    -webkit-animation-duration:  300ms;
    -moz-animation-duration:   300ms;
    -o-animation-duration:     300ms;

    -webkit-animation-delay: 400ms;
    -moz-animation-delay:    400ms;
    -o-animation-delay:      400ms;

    -webkit-animation-iteration-count:  infinite;
    -moz-animation-iteration-count:     infinite;
    -o-animation-iteration-count:       infinite;
}
.index-menu-box:hover {
    box-shadow: 2pt 5pt 10pt 2pt rgba(0,0,0,.2);
}

.index-menu-box .box-content {
    width: 100%;
    bottom: 0;
    -webkit-transform: translate(0,100%);
    transform: translate(0,100%);
    background-blend-mode: color;
}
.index-menu-box.show-subnav .box-content {
    -webkit-transform: translate(0);
    transform: translate(0);
}
.menu-item-title h1 {
    color: rgba(40,40,40,.2);
    font-size: 3em;
    line-height: 23vw;
}
.index-menu-box.show-subnav .menu-item-title h1 {
    line-height: 1em;
}
.box-content li {
    font-size: 3em;
    line-height: 2em;
    color: rgba(255,255,255,.6);
    background-color: rgba(0,0,0,.13);
}

.index-menu-box:hover.show-subnav .box-content {

}
.index-menu-box .box-content {
    -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.315, 1); /* older webkit */
    -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.315, 1.185);
    -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.315, 1.185);
    -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.315, 1.185);
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.315, 1.185); /* bounce */
}

.menu-item-title {
    position: absolute;
    width: 100%;
}

.superMenu.landing-page {

}
.superMenu.inner-page .index-menu-box {
    width: 5vw;
    height: 5vw;
}
.superMenu .index-menu-box {

}

/* -- IMAGES -- */
.index-menu-box:nth-of-type(1) {
    background: rgba(253,252,237,.2) center;
    background-size: cover;
}
.index-menu-box:nth-of-type(2) {
    background: rgba(222,191,94,.2) center;
    background-size: cover;
}
.index-menu-box:nth-of-type(3) {
    background: rgba(156,95,86,.2) center;
    background-size: cover;
}
.index-menu-box:nth-of-type(4) {
    background: rgba(55,114,126,.2) center;
    background-size: cover;
}
.index-menu-box:nth-of-type(5) {
    background: rgba(255,190,237,.2) center;
    background-size: cover;
}
.index-menu-box:nth-of-type(6) {
    background: rgba(185,49,61,.2) center;
    background-size: cover;
}

/* - Hovers - */
.index-menu-box:hover:nth-of-type(1) {
    -webkit-animation-name: showweb;
    -moz-animation-name: showweb;
    -o-animation-name: showweb;
    animation-name: showweb;;
}
.index-menu-box:hover:nth-of-type(2) {
    -webkit-animation-name: showdesign;
    -moz-animation-name: showdesign;
    -o-animation-name: showdesign;
    animation-name: showdesign;
}
.index-menu-box:hover:nth-of-type(3) {
    -webkit-animation-name: showpaint;
    -moz-animation-name: showpaint;
    -o-animation-name: showpaint;
    animation-name: showpaint;;
}
.index-menu-box:hover:nth-of-type(4) {
    -webkit-animation-name: showobject;
    -moz-animation-name: showobject;
    -o-animation-name: showobject;
    animation-name: showobject;
}
.index-menu-box:hover:nth-of-type(5) {
    -webkit-animation-name: showphoto;
    -moz-animation-name: showphoto;
    -o-animation-name: showphoto;
    animation-name: showphoto;;
}
.index-menu-box:hover:nth-of-type(6) {
    -webkit-animation-name: showdraw;
    -moz-animation-name: showdraw;
    -o-animation-name: showdraw;
    animation-name: showdraw;
}
@-webkit-keyframes showweb {
    0%,100% {
        background: rgba(253,252,237,1) center;
        background-size: cover;
    }
    5% {
        background: url("https://farm9.staticflickr.com/8829/18316521141_f4c6e1a271_z.jpg") center no-repeat;
        background-size: cover;
    }
    30% {
        background: rgba(253,252,237,1) center;
        background-size: cover;
    }
    35% {
        background: url("https://farm9.staticflickr.com/8806/18127262808_5f59dc190b_z.jpg") center no-repeat;
        background-size: cover;
    }
    70% {
        background: rgba(253,252,237,1) center;
        background-size: cover;
    }
    75% {
        background: url("https://farm9.staticflickr.com/8874/18315061855_eda73111a2.jpg") center no-repeat;
        background-size: cover;
    }
}
@-webkit-keyframes showdesign {
    0%,100% {
        background: rgba(222,191,94,1) center;
        background-size: cover;
    }
    5% {
        background: url("https://farm9.staticflickr.com/8772/18127273658_347d57f4bd_z.jpg") center no-repeat;
        background-size: cover;
    }
    30% {
        background: rgba(222,191,94,1) center;
        background-size: cover;
    }
    35% {
        background: url("https://farm9.staticflickr.com/8761/17691699414_8015655435_z.jpg") center no-repeat;
        background-size: cover;
    }
    70% {
        background: rgba(222,191,94,1) center;
        background-size: cover;
    }
    75% {
        background: url("https://farm1.staticflickr.com/525/18315380061_a0e75c2ba6_z.jpg") center no-repeat;
        background-size: cover;
    }
}
@-webkit-keyframes showpaint {
    0%,100% {
        background: rgba(156,95,86,1) center;
        background-size: cover;
    }
    5% {
        background: url("https://farm1.staticflickr.com/368/18287886786_5d05cc4c6d_z.jpg") center no-repeat;
        background-size: cover;
    }
    30% {
        background: rgba(156,95,86,1) center;
        background-size: cover;
    }
    35% {
        background: url("https://farm1.staticflickr.com/265/17694328793_a67b9ce9bb_z.jpg") center no-repeat;
        background-size: cover;
    }
    70% {
        background: rgba(156,95,86,1) center;
        background-size: cover;
    }
    75% {
        background: url("https://farm8.staticflickr.com/7787/17693733953_9d56e34402_z.jpg") center no-repeat;
        background-size: cover;
    }
}
@-webkit-keyframes showobject {
    0%,100% {
        background: rgba(55,114,126,1) center;
        background-size: cover;
    }
    5% {
        background: url("https://farm9.staticflickr.com/8890/18126198850_defb07d3c8_z.jpg") center no-repeat;
        background-size: cover;
    }
    30% {
        background: rgba(55,114,126,1) center;
        background-size: cover;
    }
    35% {
        background: url("https://farm9.staticflickr.com/8829/18310025292_613f410494_z.jpg") center no-repeat;
        background-size: cover;
    }
    70% {
        background: rgba(55,114,126,1) center;
        background-size: cover;
    }
    75% {
        background: url("https://farm8.staticflickr.com/7728/18310625042_7136595ceb_z.jpg") center no-repeat;
        background-size: cover;
    }
}
@-webkit-keyframes showphoto {
    0%,100% {
        background: rgba(255,190,237,1) center;
        background-size: cover;
    }
    5% {
        background: url("https://farm1.staticflickr.com/491/18128233809_70b19f89d8_z.jpg") center no-repeat;
        background-size: cover;
    }
    30% {
        background: rgba(255,190,237,1) center;
        background-size: cover;
    }
    35% {
        background: url("https://farm9.staticflickr.com/8776/18310536832_1d67f4b191_b.jpg") center no-repeat;
        background-size: cover;
    }
    70% {
        background: rgba(255,190,237,1) center;
        background-size: cover;
    }
    75% {
        background: url("https://farm8.staticflickr.com/7740/17691818404_c0d7b3afb0_z.jpg") center no-repeat;
        background-size: cover;
    }
}
@-webkit-keyframes showdraw {
    0%,100% {
        background: rgba(185,49,61,1) center;
        background-size: cover;
    }
    5% {
        background: url("https://farm8.staticflickr.com/7732/17691877104_f53c81c58c_z.jpg") center no-repeat;
        background-size: cover;
    }
    30% {
        background: rgba(185,49,61,1) center;
        background-size: cover;
    }
    35% {
        background: url("https://farm8.staticflickr.com/7770/17691912184_a9848a2fec_z.jpg") center no-repeat;
        background-size: cover;
    }
    70% {
        background: rgba(185,49,61,1) center;
        background-size: cover;
    }
    75% {
        background: url("https://farm9.staticflickr.com/8762/18315808381_f662373bb2_z.jpg") center no-repeat;
        background-size: cover;
    }
}


.image div {
    height: 64vh;
}
.image:nth-of-type(1) {
    background: url("https://farm1.staticflickr.com/368/18287886786_5d05cc4c6d_b.jpg") no-repeat;
    background-size: contain;
}
.image:nth-of-type(2) {
    background: url("https://farm8.staticflickr.com/7774/17691657004_4791746bc7_b.jpg") no-repeat;
    background-size: contain;
}
.image:nth-of-type(3) {
    background: url("https://farm1.staticflickr.com/265/17694328793_a67b9ce9bb_b.jpg") no-repeat;
    background-size: contain;
}
.image:nth-of-type(4) {
    background: url("https://farm1.staticflickr.com/268/18128839709_e0d342503e_b.jpg") no-repeat;
    background-size: contain;
}
.image:nth-of-type(5) {
    background: url("https://farm1.staticflickr.com/368/18287886786_5d05cc4c6d_b.jpg") no-repeat;
    background-size: contain;
}.image:nth-of-type(6) {
     background: url("https://farm1.staticflickr.com/352/18126412660_fb1856f8ce_b.jpg") no-repeat;
     background-size: contain;
 }


/* Oscar termina sus cochinadas */

.cat-list {
 /* display: none;*/
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 2;
  -webkit-transform: translate(0,100%);
          transform: translate(0,100%);
}
.cat-list.show {
  /*display: block;*/
  -webkit-transform: translate(0);
          transform: translate(0);
}
.cat-list li {
  font-size: 1.6rem;
  line-height: 3rem;
  list-style: none;
  text-align: center;
  color: white;
  width: 100%;
  margin-top
  : 0.1rem;
  background: rgba(255,255,255,.5);
}
.cat-list li:hover {
  box-shadow: inset 0px 2px 0 0px rgba(255,255,255,.7);
}




/* ---- IMAGES ANIMATION FOR PLACE HOLDER (minislider/speedslider) ---- */




/* == COLORS == */

/*rgba(55,114,126,1);
background: rgba(185,49,61,1);
background: rgba(244,192,237,1);
background: rgba(222,191,94,1);
background: rgba(156,95,86,1);
 background: rgba(185,115,177,1);
  background: rgba(127,255,212,.9);

background: rgba(222,191,94,1);*/

section.menu .placeholder_container {
  width: auto;
  margin: 2vh 0 0;
  padding: 0;
}
section.menu .placeholder_container.contracted {
  position: absolute;
  bottom: -1.2vh;
  right: -.333vw;
}

/* ---- SLIDER ---- */

section.black {
  height: 100%;
  /*padding-left: 20vw;*/
}
section .content {
 width: 100%; 
}


.slick-prev:before {
  -webkit-transform: rotate(180deg) translate(2vw,0);
  -moz-transform:    rotate(180deg) translate(2vw,0);
  -ms-transform:     rotate(180deg) translate(2vw,0);
  -o-transform:      rotate(180deg) translate(2vw,0);
  transform:         rotate(180deg) translate(2vw,0);
}
[dir="rtl"] .slick-prev:before {
  -webkit-transform: rotate(180deg) translate(2vw,0);
  -moz-transform:    rotate(180deg) translate(2vw,0);
  -ms-transform:     rotate(180deg) translate(2vw,0);
  -o-transform:      rotate(180deg) translate(2vw,0);
  transform:         rotate(180deg) translate(2vw,0);
}

section.black h2 {/*text-align:center;*/}
.main-bkgd2 {
    fill:url(#mainBkgdGrad);
    height:100%;
    display:inline-block;
    position:absolute;
    box-sizing: border-box;
    padding:0;
    margin:0;
    z-index: 0;
    /*background: rgb(20,20,20);*/
}
.main-bkgd2 > * {
  z-index: 0;
}
.image {
  height: 80vh; 
}




/* ==== PHOTO ==== */
.photo .slick-slide:nth-child(1) {
  background: url(../assets/imgs/munecos/pareja.jpg) no-repeat;
  background-size: contain;
}
.photo .slick-slide:nth-child(2) {
  background: url(../assets/imgs/munecos/heladia/heladia01.jpg) no-repeat;
  background-size: contain;
}
.photo .slick-slide:nth-child(3) {
  background: url(../assets/imgs/munecos/heladia/heladia02.jpg) no-repeat;
  background-size: contain;
}
.photo .slick-slide:nth-child(4) {
  background: url(../assets/imgs/munecos/heladia/heladia03.jpg) no-repeat;
  background-size: contain;
}
.photo .slick-slide:nth-child(5) {
  background: url(../assets/imgs/munecos/muneca_rota/skalter-01.jpg) no-repeat;
  background-size: contain;
}
.photo .slick-slide:nth-child(6) {
  background: url(../assets/imgs/munecos/muneca_rota/skalter-02.jpg) no-repeat;
  background-size: contain;
}
.photo .slick-slide:nth-child(7) {
  background: url(../assets/imgs/munecos/muneca_rota/skalter-03.jpg) no-repeat;
  background-size: contain;
}
.photo .slick-slide:nth-child(8) {
  background: url(../assets/imgs/munecos/muneca_rota/skalter-04.jpg) no-repeat;
  background-size: contain;
}
.photo .slick-slide:nth-child(9) {
  background: url(../assets/imgs/munecos/muneca_rota/skalter-05.jpg) no-repeat;
  background-size: contain;
}
.photo .slick-slide:nth-child(10) {
  background: url(../assets/imgs/munecos/bailando.jpg) no-repeat;
  background-size: contain;
}
.photo .slick-slide:nth-child(11) {
  background: url(../assets/imgs/munecos/barbie02.jpg) no-repeat;
  background-size: contain;
}
.photo .slick-slide:nth-child(12) {
  background: url(../assets/imgs/munecos/ken/kenorig.jpg) no-repeat;
  background-size: contain;
}
.photo .slick-slide:nth-child(13) {
  background: url(../assets/imgs/munecos/muneca_rota/skalter-05.jpg) no-repeat;
  background-size: contain;
}
.photo .slick-slide:nth-child(14) {
  background: url(../assets/imgs/munecos/muneca_rota/tenengo-conunarbol01.jpg) no-repeat center;
  background-size: contain;
}
.photo .slick-slide:nth-child(15) {
  background: url(../assets/imgs/munecos/muneca_rota/tenengo-conunarbol01.jpg) no-repeat center;
  background-size: contain;
}
.photo .slick-slide:nth-child(16) {
  background: url(../assets/imgs/munecos/muneca_rota/tenengo-conunarbol01.jpg) no-repeat center;
  background-size: contain;
}

/* ==== PAINT ==== */

.paint .slick-slide:nth-child(1) {
  background: url(https://c4.staticflickr.com/4/3744/9530699391_d9479b8b9a_c.jpg) no-repeat center;
  background-size: contain;
}
.paint .slick-slide:nth-child(2) {
  background: url(../assets/imgs/pintura/blancos/blancos.jpg) no-repeat center;
  background-size: contain;
}
.paint .slick-slide:nth-child(3) {
  background: url(../assets/imgs/pintura/blancos/cajaIII.jpg) no-repeat center;
  background-size: contain;
}
.paint .slick-slide:nth-child(4) {
  background: url(../assets/imgs/pintura/blancos/cajas1.jpg) no-repeat center;
  background-size: contain;
}
.paint .slick-slide:nth-child(5) {
  background: url(../assets/imgs/pintura/blancos/cajas2.jpg) no-repeat center;
  background-size: contain;
}
.paint .slick-slide:nth-child(6) {
  background: url(../assets/imgs/pintura/blancos/cajasI-1.jpg) no-repeat center;
  background-size: contain;
}
.paint .slick-slide:nth-child(7) {
  background: url(../assets/imgs/pintura/blancos/escalera.jpg) no-repeat center;
  background-size: contain;
}

/* ==== DRAWING ==== */

.drawing .slick-slide:nth-child(1) {
  background: url(../assets/imgs/pintura/blancos/cajas2.jpg) no-repeat center;
  background-size: contain;
}
.drawing .slick-slide:nth-child(2) {
  background: url(../assets/imgs/pintura/blancos/blancos.jpg) no-repeat center;
  background-size: contain;
}
.drawing .slick-slide:nth-child(3) {
  background: url(../assets/imgs/pintura/blancos/cajaIII.jpg) no-repeat center;
  background-size: contain;
}
.drawing .slick-slide:nth-child(4) {
  background: url(../assets/imgs/pintura/blancos/cajas1.jpg) no-repeat center;
  background-size: contain;
}
.drawing .slick-slide:nth-child(5) {
  background: url(../assets/imgs/pintura/blancos/cajas2.jpg) no-repeat center;
  background-size: contain;
}
.drawing .slick-slide:nth-child(6) {
  background: url(../assets/imgs/pintura/blancos/cajasI-1.jpg) no-repeat center;
  background-size: contain;
}
.drawing .slick-slide:nth-child(7) {
  background: url(../assets/imgs/pintura/blancos/escalera.jpg) no-repeat center;
  background-size: contain;
}

/* ==== DESIGN ==== */

.drawing .slick-slide:nth-child(1) {
  background: url(../assets/imgs/pintura/blancos/cajas2.jpg) no-repeat center;
  background-size: contain;
}
.drawing .slick-slide:nth-child(2) {
  background: url(../assets/imgs/pintura/blancos/blancos.jpg) no-repeat center;
  background-size: contain;
}
.drawing .slick-slide:nth-child(3) {
  background: url(../assets/imgs/pintura/blancos/cajaIII.jpg) no-repeat center;
  background-size: contain;
}
.drawing .slick-slide:nth-child(4) {
  background: url(../assets/imgs/pintura/blancos/cajas1.jpg) no-repeat center;
  background-size: contain;
}
.drawing .slick-slide:nth-child(5) {
  background: url(../assets/imgs/pintura/blancos/cajas2.jpg) no-repeat center;
  background-size: contain;
}
.drawing .slick-slide:nth-child(6) {
  background: url(../assets/imgs/pintura/blancos/cajasI-1.jpg) no-repeat center;
  background-size: contain;
}
.drawing .slick-slide:nth-child(7) {
  background: url(../assets/imgs/pintura/blancos/escalera.jpg) no-repeat center;
  background-size: contain;
}





.slick-dots { display: none !important;}


