*  {
    margin:0;
    padding:0;
    font-family: helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.clear { clear: both; }
.wrapper {
    min-height: 100vh;
    padding: 0 10vh;
}
.header {
    display: block;
    background: transparent;
	color: dimgrey;
	padding: .5rem 0 .6rem;
    position: relative;
	box-sizing: border-box;
}
.header p {
	font-size: .6rem;
	display: inline-block;
	text-transform: uppercase;
}
h1 {
	font-size: 1.2rem;
	font-weight: 200;
	display: inline-block;
}
h2 {
    color: rgba(255,255,255,.8);
    font-size: .9rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2pt;
}
a {
	text-decoration: none;
	color: inherit;
}
li {
    list-style: none;
}

.main-bkgd2 {
    fill:url(#mainBkgdGrad);
    height:100%;
    display:inline-block;
    position:fixed;
    box-sizing: border-box;
    padding:0;
    margin:0;
    z-index: -1;
}
.main-bkgd2 > * {
    z-index: 0;
}

/* === HEADER === */
.siteName {
	display: inline-block;
	height: 1.8rem;
	font-size: 3.8rem;
    font-family: Sans-serif;
    font-weight: bold;
    overflow: hidden;
    position: relative;
    opacity: .2;
}
/* - SVG text - */
.siteName svg {
    width: 24.2rem;
    height: 4rem;
}
.right-labels {
	position: absolute;
	top: 1rem;
	right: 1rem;
}
.right-labels div {
    font-size: .8rem;
}


/* ------  Oscar empieza sus cochinadas  ------ */

/* === MENU === */
/* --- MENU INNER PAGE --- */
.superMenu .index-menu-box {
    width:26vw;
    height:23vw;
    margin: 0 1vw 1vw 0;
    float: left;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;

    -webkit-transition: all 1200ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -moz-transition: all 1200ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -o-transition: all 1200ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition: all 1200ms cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */

    -webkit-animation-duration:  300ms;
    -moz-animation-duration:   300ms;
    -o-animation-duration:     300ms;

    -webkit-animation-delay: 400ms;
    -moz-animation-delay:    400ms;
    -o-animation-delay:      400ms;

    -webkit-animation-iteration-count:  infinite;
    -moz-animation-iteration-count:     infinite;
    -o-animation-iteration-count:       infinite;
}

.superMenu .index-menu-box:hover {
    box-shadow: 2pt 5pt 10pt 2pt rgba(0,0,0,.2);
}
.superMenu.landing-page {

}

.superMenu .index-menu-box {

}
/* --- MENU SUBNAV --- */
.superMenu .index-menu-box .box-content {
    width: 100%;
    bottom: 0;
    -webkit-transform: translate(0,100%);
    transform: translate(0,100%);
    background-blend-mode: color;

    -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.315, 1); /* older webkit */
    -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.315, 1.185);
    -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.315, 1.185);
    -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.315, 1.185);
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.315, 1.185); /* bounce */
}
.superMenu .index-menu-box.show-subnav .box-content {
    -webkit-transform: translate(0);
    transform: translate(0);
}
.index-menu-box:hover.show-subnav .box-content {

}
.menu-item-title {
    position: absolute;
    width: 100%;
}
.menu-item-title h1 {
    color: rgba(40,40,40,.2);
    font-size: 3rem;
    line-height: 23vw;
}
.index-menu-box.show-subnav .menu-item-title h1 {
    line-height: 1em;
}
.box-content li {
    font-size: 3em;
    line-height: 2em;
    color: rgba(255,255,255,.6);
    background-color: rgba(0,0,0,.13);
}

/* === MENU INNER PAGE === */
.superMenu.inner-page .index-menu-box {
    width: 5vw;
    height: 5vw;
}


.galery {
    /*padding-bottom: 5vh;*/
    -webkit-column-count: 6;
    -moz-column-count: 6;
    column-count: 6;
}

.galery img {
    width: 22vh;
    background-size: cover;
    /*float: left;*/
}
.show-this-btn {
    /*height: 100%;*/
    /*width: 100%;*/
}
.slider-for {

}
 .slick-slider .slick-list {
    padding: 0 !important;
}
.slider-nav .slick-slider .slick-track {
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
}
/*.slick-slider{ margin: 2vh auto 7vh;}*/
.slider-nav {
    max-height: 58vh;
    overflow-y: scroll;
}
.slider-nav .slick-track {
    width: auto !important;
    -webkit-transform:none !important;
    -moz-transform:none !important;
    transform:none !important;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
}
.slider-nav img {
    /*max-width: 12vw;*/
    width: 100%;
    padding-bottom: .5em;
}
/* === SLIDER SECTION === */

.slick-slide.image,
.galery .image {
    background: center no-repeat;
    background-size: contain;
}
.slider-for .slick-slide.image h2 {

}
.slider-nav .slick-slide.image {

    height: auto !important;

}
.galery .image {
    height: 25vh;
    width: 21.5vh;
    background-size: cover;
    float: left;
}
.galery .image h2 {
    display: none;
}
.content {
    max-width: 50vw;
    float: right;
    margin-left: 2em;
}
/* --SLICK STYLES -- */
.slick-slide.image {
    height: 60vh !important;
}
.slider-nav .slick-slide.image {
}
.slick-prev:before {
    -webkit-transform: rotate(180deg) translate(2vw,0);
    -moz-transform:    rotate(180deg) translate(2vw,0);
    -ms-transform:     rotate(180deg) translate(2vw,0);
    -o-transform:      rotate(180deg) translate(2vw,0);
    transform:         rotate(180deg) translate(2vw,0);
}
.slick-prev:before, .slick-next:before {
    font-family: helvetica,serif !important;
    font-size: initial !important;
    line-height: normal !important;
    height:3em;
    width:2.5em;
    color: grey !important;
    content: '' !important;
    position: absolute;
    -webkit-filter: blur(3px);
    filter: blur(3px);

}
.slick-prev:hover:before, .slick-next:hover:before {
    -webkit-filter: blur(0);
    filter: blur(0);
}
.slick-prev:before {
    background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><polyline fill="none" stroke="#B24377" stroke-width="2" stroke-miterlimit="10" points="14.6,45.7 35.4,25 14.6,4.3 "/></svg>') 0% 0% no-repeat !important;
    color:black !important;
    content: '' !important;
}
.slick-next:before {
    background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><polyline fill="none" stroke="#B24377" stroke-width="2" stroke-miterlimit="10" points="14.6,45.7 35.4,25 14.6,4.3 "/></svg>') 0% 0% no-repeat !important;
    color:black !important;
    content: '' !important;
}

/* === END SLICK STYLES === */



/* === MENU ITEMS (squares) === */
.index-menu-box:nth-of-type(1) {
    background: rgba(253,252,237,.2) center;
    background-size: cover;
}
.index-menu-box:nth-of-type(2) {
    background: rgba(222,191,94,.2) center;
    background-size: cover;
}
.index-menu-box:nth-of-type(3) {
    background: rgba(156,95,86,.2) center;
    background-size: cover;
}
.index-menu-box:nth-of-type(4) {
    background: rgba(55,114,126,.2) center;
    background-size: cover;
}
.index-menu-box:nth-of-type(5) {
    background: rgba(255,190,237,.2) center;
    background-size: cover;
}
.index-menu-box:nth-of-type(6) {
    background: rgba(185,49,61,.2) center;
    background-size: cover;
}

/* - Hovers - */
.index-menu-box:hover:nth-of-type(1) {
    background: rgba(253,252,237,.8) center;
    -webkit-animation-name: showweb;
    -moz-animation-name: showweb;
    -o-animation-name: showweb;
    animation-name: showweb;;
}
.index-menu-box:hover:nth-of-type(2) {
    /*background: rgba(222,191,94,.8) center;*/
    -webkit-animation-name: showdesign;
    -moz-animation-name: showdesign;
    -o-animation-name: showdesign;
    animation-name: showdesign;
}
.index-menu-box:hover:nth-of-type(3) {
    background: rgba(156,95,86,.8) center;
    -webkit-animation-name: showpaint;
    -moz-animation-name: showpaint;
    -o-animation-name: showpaint;
    animation-name: showpaint;;
}
.index-menu-box:hover:nth-of-type(4) {
    background: rgba(55,114,126,.8) center;
    -webkit-animation-name: showobject;
    -moz-animation-name: showobject;
    -o-animation-name: showobject;
    animation-name: showobject;
}
.index-menu-box:hover:nth-of-type(5) {
    background: rgba(255,190,237,.8) center;
    -webkit-animation-name: showphoto;
    -moz-animation-name: showphoto;
    -o-animation-name: showphoto;
    animation-name: showphoto;;
}
.index-menu-box:hover:nth-of-type(6) {
    background: rgba(185,49,61,.8) center;
    -webkit-animation-name: showdraw;
    -moz-animation-name: showdraw;
    -o-animation-name: showdraw;
    animation-name: showdraw;
}
@-webkit-keyframes showweb {
    0%,100% {
        background: rgba(253,252,237,1) center;
        background-size: cover;
    }
    5% {
        background: url("https://farm9.staticflickr.com/8829/18316521141_f4c6e1a271_z.jpg") center no-repeat;
        background-size: cover;
    }
    30% {
        background: rgba(253,252,237,1) center;
        background-size: cover;
    }
    35% {
        background: url("https://farm9.staticflickr.com/8806/18127262808_5f59dc190b_z.jpg") center no-repeat;
        background-size: cover;
    }
    70% {
        background: rgba(253,252,237,1) center;
        background-size: cover;
    }
    75% {
        background: url("https://farm9.staticflickr.com/8874/18315061855_eda73111a2.jpg") center no-repeat;
        background-size: cover;
    }
}
@keyframes showweb {
    0%,100% {
        background: rgba(253,252,237,1) center;
        background-size: cover;
    }
    5% {
        background: url("https://farm9.staticflickr.com/8829/18316521141_f4c6e1a271_z.jpg") center no-repeat;
        background-size: cover;
    }
    30% {
        background: rgba(253,252,237,1) center;
        background-size: cover;
    }
    35% {
        background: url("https://farm9.staticflickr.com/8806/18127262808_5f59dc190b_z.jpg") center no-repeat;
        background-size: cover;
    }
    70% {
        background: rgba(253,252,237,1) center;
        background-size: cover;
    }
    75% {
        background: url("https://farm9.staticflickr.com/8874/18315061855_eda73111a2.jpg") center no-repeat;
        background-size: cover;
    }
}

@-webkit-keyframes showdesign {
    0%,100% {
        background: rgba(222,191,94,1) center;
        background-size: cover;
    }
    5% {
        background: url("https://farm9.staticflickr.com/8772/18127273658_347d57f4bd_z.jpg") center no-repeat;
        background-size: cover;
    }
    30% {
        background: rgba(222,191,94,1) center;
        background-size: cover;
    }
    35% {
        background: url("https://farm9.staticflickr.com/8761/17691699414_8015655435_z.jpg") center no-repeat;
        background-size: cover;
    }
    70% {
        background: rgba(222,191,94,1) center;
        background-size: cover;
    }
    75% {
        background: url("https://farm1.staticflickr.com/525/18315380061_a0e75c2ba6_z.jpg") center no-repeat;
        background-size: cover;
    }
}
@keyframes showdesign {
    0%,100% {
        background: rgba(222,191,94,1) center;
        background-size: cover;
    }
    5% {
        background: url("https://farm9.staticflickr.com/8772/18127273658_347d57f4bd_z.jpg") center no-repeat;
        background-size: cover;
    }
    30% {
        background: rgba(222,191,94,1) center;
        background-size: cover;
    }
    35% {
        background: url("https://farm9.staticflickr.com/8761/17691699414_8015655435_z.jpg") center no-repeat;
        background-size: cover;
    }
    70% {
        background: rgba(222,191,94,1) center;
        background-size: cover;
    }
    75% {
        background: url("https://farm1.staticflickr.com/525/18315380061_a0e75c2ba6_z.jpg") center no-repeat;
        background-size: cover;
    }
}

@-webkit-keyframes showpaint {
    0%,100% {
        background: rgba(156,95,86,1) center;
        background-size: cover;
    }
    5% {
        background: url("https://farm1.staticflickr.com/368/18287886786_5d05cc4c6d_z.jpg") center no-repeat;
        background-size: cover;
    }
    30% {
        background: rgba(156,95,86,1) center;
        background-size: cover;
    }
    35% {
        background: url("https://farm1.staticflickr.com/265/17694328793_a67b9ce9bb_z.jpg") center no-repeat;
        background-size: cover;
    }
    70% {
        background: rgba(156,95,86,1) center;
        background-size: cover;
    }
    75% {
        background: url("https://farm8.staticflickr.com/7787/17693733953_9d56e34402_z.jpg") center no-repeat;
        background-size: cover;
    }
}
@keyframes showpaint {
    0%,100% {
        background: rgba(156,95,86,1) center;
        background-size: cover;
    }
    5% {
        background: url("https://farm1.staticflickr.com/368/18287886786_5d05cc4c6d_z.jpg") center no-repeat;
        background-size: cover;
    }
    30% {
        background: rgba(156,95,86,1) center;
        background-size: cover;
    }
    35% {
        background: url("https://farm1.staticflickr.com/265/17694328793_a67b9ce9bb_z.jpg") center no-repeat;
        background-size: cover;
    }
    70% {
        background: rgba(156,95,86,1) center;
        background-size: cover;
    }
    75% {
        background: url("https://farm8.staticflickr.com/7787/17693733953_9d56e34402_z.jpg") center no-repeat;
        background-size: cover;
    }
}

@-webkit-keyframes showobject {
    0%,100% {
        background: rgba(55,114,126,1) center;
        background-size: cover;
    }
    5% {
        background: url("https://farm9.staticflickr.com/8890/18126198850_defb07d3c8_z.jpg") center no-repeat;
        background-size: cover;
    }
    30% {
        background: rgba(55,114,126,1) center;
        background-size: cover;
    }
    35% {
        background: url("https://farm9.staticflickr.com/8829/18310025292_613f410494_z.jpg") center no-repeat;
        background-size: cover;
    }
    70% {
        background: rgba(55,114,126,1) center;
        background-size: cover;
    }
    75% {
        background: url("https://farm8.staticflickr.com/7728/18310625042_7136595ceb_z.jpg") center no-repeat;
        background-size: cover;
    }
}
@keyframes showobject {
    0%,100% {
        background: rgba(55,114,126,1) center;
        background-size: cover;
    }
    5% {
        background: url("https://farm9.staticflickr.com/8890/18126198850_defb07d3c8_z.jpg") center no-repeat;
        background-size: cover;
    }
    30% {
        background: rgba(55,114,126,1) center;
        background-size: cover;
    }
    35% {
        background: url("https://farm9.staticflickr.com/8829/18310025292_613f410494_z.jpg") center no-repeat;
        background-size: cover;
    }
    70% {
        background: rgba(55,114,126,1) center;
        background-size: cover;
    }
    75% {
        background: url("https://farm8.staticflickr.com/7728/18310625042_7136595ceb_z.jpg") center no-repeat;
        background-size: cover;
    }
}

@-webkit-keyframes showphoto {
    0%,100% {
        background: rgba(255,190,237,1) center;
        background-size: cover;
    }
    5% {
        background: url("https://farm1.staticflickr.com/491/18128233809_70b19f89d8_z.jpg") center no-repeat;
        background-size: cover;
    }
    30% {
        background: rgba(255,190,237,1) center;
        background-size: cover;
    }
    35% {
        background: url("https://farm9.staticflickr.com/8776/18310536832_1d67f4b191_b.jpg") center no-repeat;
        background-size: cover;
    }
    70% {
        background: rgba(255,190,237,1) center;
        background-size: cover;
    }
    75% {
        background: url("https://farm8.staticflickr.com/7740/17691818404_c0d7b3afb0_z.jpg") center no-repeat;
        background-size: cover;
    }
}
@keyframes showphoto {
    0%,100% {
        background: rgba(255,190,237,1) center;
        background-size: cover;
    }
    5% {
        background: url("https://farm1.staticflickr.com/491/18128233809_70b19f89d8_z.jpg") center no-repeat;
        background-size: cover;
    }
    30% {
        background: rgba(255,190,237,1) center;
        background-size: cover;
    }
    35% {
        background: url("https://farm9.staticflickr.com/8776/18310536832_1d67f4b191_b.jpg") center no-repeat;
        background-size: cover;
    }
    70% {
        background: rgba(255,190,237,1) center;
        background-size: cover;
    }
    75% {
        background: url("https://farm8.staticflickr.com/7740/17691818404_c0d7b3afb0_z.jpg") center no-repeat;
        background-size: cover;
    }
}

@-webkit-keyframes showdraw {
    0%,100% {
        background: rgba(185,49,61,1) center;
        background-size: cover;
    }
    5% {
        background: url("https://farm8.staticflickr.com/7732/17691877104_f53c81c58c_z.jpg") center no-repeat;
        background-size: cover;
    }
    30% {
        background: rgba(185,49,61,1) center;
        background-size: cover;
    }
    35% {
        background: url("https://farm8.staticflickr.com/7770/17691912184_a9848a2fec_z.jpg") center no-repeat;
        background-size: cover;
    }
    70% {
        background: rgba(185,49,61,1) center;
        background-size: cover;
    }
    75% {
        background: url("https://farm9.staticflickr.com/8762/18315808381_f662373bb2_z.jpg") center no-repeat;
        background-size: cover;
    }
}
@keyframes showdraw {
    0%,100% {
        background: rgba(185,49,61,1) center;
        background-size: cover;
    }
    5% {
        background: url("https://farm8.staticflickr.com/7732/17691877104_f53c81c58c_z.jpg") center no-repeat;
        background-size: cover;
    }
    30% {
        background: rgba(185,49,61,1) center;
        background-size: cover;
    }
    35% {
        background: url("https://farm8.staticflickr.com/7770/17691912184_a9848a2fec_z.jpg") center no-repeat;
        background-size: cover;
    }
    70% {
        background: rgba(185,49,61,1) center;
        background-size: cover;
    }
    75% {
        background: url("https://farm9.staticflickr.com/8762/18315808381_f662373bb2_z.jpg") center no-repeat;
        background-size: cover;
    }
}




/* PAINT */
#paint .image:nth-of-type(1)  {
    background: url("https://farm1.staticflickr.com/368/18287886786_5d05cc4c6d_b.jpg") no-repeat center;
    background-size: contain;
}
#paint .image:nth-of-type(2)  {
    background: url("https://farm8.staticflickr.com/7774/17691657004_4791746bc7_b.jpg") no-repeat center;
    background-size: contain;
}
#paint .image:nth-of-type(3)  {
    background: url("https://farm1.staticflickr.com/265/17694328793_a67b9ce9bb_b.jpg") no-repeat center;
    background-size: contain;
}
#paint .image:nth-of-type(4)  {
    background: url("https://farm1.staticflickr.com/268/18128839709_e0d342503e_b.jpg") no-repeat center;
    background-size: contain;
}
#paint .image:nth-of-type(5)  {
    background: url("https://farm1.staticflickr.com/368/18287886786_5d05cc4c6d_b.jpg") no-repeat center;
    background-size: contain;
}
#paint .image:nth-of-type(6)  {
     background: url("https://farm1.staticflickr.com/352/18126412660_fb1856f8ce_b.jpg") no-repeat center;
     background-size: contain;
}
#paint .image:nth-of-type(7)  {
     background: url("https://farm1.staticflickr.com/352/18126412660_fb1856f8ce_b.jpg") no-repeat center;
     background-size: contain;
}
#paint .image:nth-of-type(8)  {
    background: url("https://farm1.staticflickr.com/368/18287886786_5d05cc4c6d_b.jpg") no-repeat center;
    background-size: contain;
}
#paint .image:nth-of-type(9)  {
    background: url("https://farm1.staticflickr.com/352/18126412660_fb1856f8ce_b.jpg") no-repeat center;
    background-size: contain;
}
#paint .image:nth-of-type(10)  {
    background: url("https://farm1.staticflickr.com/352/18126412660_fb1856f8ce_b.jpg") no-repeat center;
    background-size: contain;
}
/* OBJECT */
#object .image:nth-of-type(1)  {
    background: url("https://farm1.staticflickr.com/368/18287886786_5d05cc4c6d_b.jpg") no-repeat center;
    background-size: contain;
}
#object .image:nth-of-type(2)  {
    background: url("https://farm8.staticflickr.com/7774/17691657004_4791746bc7_b.jpg") no-repeat center;
    background-size: contain;
}
#object .image:nth-of-type(3)   {
    background: url("https://farm1.staticflickr.com/265/17694328793_a67b9ce9bb_b.jpg") no-repeat center;
    background-size: contain;
}
#object .image:nth-of-type(4)  {
    background: url("https://farm1.staticflickr.com/268/18128839709_e0d342503e_b.jpg") no-repeat center;
    background-size: contain;
}
#object .image:nth-of-type(5)  {
    background: url("https://farm1.staticflickr.com/368/18287886786_5d05cc4c6d_b.jpg") no-repeat center;
    background-size: contain;
}
#object .image:nth-of-type(6)  {
    background: url("https://farm1.staticflickr.com/352/18126412660_fb1856f8ce_b.jpg") no-repeat center;
    background-size: contain;
}
#object .image:nth-of-type(7)  {
    background: url("https://farm1.staticflickr.com/352/18126412660_fb1856f8ce_b.jpg") no-repeat center;
    background-size: contain;
}
#object .image:nth-of-type(8)  {
    background: url("https://farm1.staticflickr.com/368/18287886786_5d05cc4c6d_b.jpg") no-repeat center;
    background-size: contain;
}
#object .image:nth-of-type(9)  {
    background: url("https://farm1.staticflickr.com/352/18126412660_fb1856f8ce_b.jpg") no-repeat center;
    background-size: contain;
}
#object .image:nth-of-type(10)  {
    background: url("https://farm1.staticflickr.com/352/18126412660_fb1856f8ce_b.jpg") no-repeat center;
    background-size: contain;
}

/* PHOTO */
/*#photo .image:nth-of-type(1),*/
/*#photo .slider-nav .image:nth-of-type(1){*/
    /*background: url("https://farm8.staticflickr.com/7791/18287991486_e7680a93e7_b.jpg") no-repeat center;*/
    /*background-size: contain;*/
/*}*/
/*#photo .image:nth-of-type(2),*/
/*#photo .slider-nav .image:nth-of-type(2){*/
    /*background: url("https://farm8.staticflickr.com/7735/18315501481_ffdbc6ffdc_b.jpg") no-repeat center;*/
    /*background-size: contain;*/
/*}*/
/*#photo .image:nth-of-type(3)   {*/
    /*background: url("https://farm8.staticflickr.com/7758/17691287084_a8b326779c_b.jpg") no-repeat center;*/
    /*background-size: contain;*/
/*}*/
/*#photo .image:nth-of-type(4)  {*/
    /*background: url("https://farm8.staticflickr.com/7730/18310186752_2cb8185903_b.jpg") no-repeat center;*/
    /*background-size: contain;*/
/*}*/
/*#photo .image:nth-of-type(5)  {*/
    /*background: url("https://farm1.staticflickr.com/539/18310507542_14bca46317_b.jpg") no-repeat center;*/
    /*background-size: contain;*/
/*}*/
/*#photo .image:nth-of-type(6)  {*/
    /*background: url("https://farm8.staticflickr.com/7730/18310528802_b0c5f6ed1a_b.jpg") no-repeat center;*/
    /*background-size: contain;*/
/*}*/
/*#photo .image:nth-of-type(7)  {*/
    /*background: url("https://farm8.staticflickr.com/7735/18127705299_814450fa50_b.jpg") no-repeat center;*/
    /*background-size: contain;*/
/*}*/
/*#photo .image:nth-of-type(8)  {*/
    /*background: url("https://farm8.staticflickr.com/7758/17691287084_a8b326779c_b.jpg") no-repeat center;*/
    /*background-size: contain;*/
/*}*/
/*#photo .image:nth-of-type(9)  {*/
    /*background: url("https://farm9.staticflickr.com/8851/18126161800_4825f78a82_b.jpg") no-repeat center;*/
    /*background-size: contain;*/
/*}*/
/*#photo .image:nth-of-type(10)  {*/
    /*background: url("https://farm9.staticflickr.com/8864/18287467546_772f83a10f_b.jpg") no-repeat center;*/
    /*background-size: contain;*/

/*}*/
/*#photo .image:nth-of-type(11)  {*/
    /*background: url("https://farm1.staticflickr.com/522/18315322201_82c961240f_b.jpg") no-repeat center;*/
    /*background-size: contain;*/
/*}*/
/*#photo .image:nth-of-type(12)  {*/
    /*background: url("https://farm1.staticflickr.com/368/18287886786_5d05cc4c6d_b.jpg") no-repeat center;*/
    /*background-size: contain;*/
/*}*/

/* DRAW */
#draw .image:nth-of-type(1)  {
    background: url("https://farm1.staticflickr.com/368/18287886786_5d05cc4c6d_b.jpg") no-repeat center;
    background-size: contain;
}
#draw .image:nth-of-type(2)  {
    background: url("https://farm8.staticflickr.com/7774/17691657004_4791746bc7_b.jpg") no-repeat center;
    background-size: contain;
}
#draw .image:nth-of-type(3)   {
    background: url("https://farm1.staticflickr.com/265/17694328793_a67b9ce9bb_b.jpg") no-repeat center;
    background-size: contain;
}
#draw .image:nth-of-type(4)  {
    background: url("https://farm1.staticflickr.com/268/18128839709_e0d342503e_b.jpg") no-repeat center;
    background-size: contain;
}
#draw .image:nth-of-type(5)  {
    background: url("https://farm1.staticflickr.com/368/18287886786_5d05cc4c6d_b.jpg") no-repeat center;
    background-size: contain;
}
#draw .image:nth-of-type(6)  {
    background: url("https://farm1.staticflickr.com/352/18126412660_fb1856f8ce_b.jpg") no-repeat center;
    background-size: contain;
}
#draw .image:nth-of-type(7)  {
    background: url("https://farm1.staticflickr.com/352/18126412660_fb1856f8ce_b.jpg") no-repeat center;
    background-size: contain;
}
#draw .image:nth-of-type(8)  {
    background: url("https://farm1.staticflickr.com/368/18287886786_5d05cc4c6d_b.jpg") no-repeat center;
    background-size: contain;
}
#draw .image:nth-of-type(9)  {
    background: url("https://farm1.staticflickr.com/352/18126412660_fb1856f8ce_b.jpg") no-repeat center;
    background-size: contain;
}
#draw .image:nth-of-type(10)  {
    background: url("https://farm1.staticflickr.com/352/18126412660_fb1856f8ce_b.jpg") no-repeat center;
    background-size: contain;
}




/* Oscar termina sus cochinadas */





/* ---- IMAGES ANIMATION FOR PLACE HOLDER (minislider/speedslider) ---- */




/* == COLORS == */

/*rgba(55,114,126,1);
background: rgba(185,49,61,1);
background: rgba(244,192,237,1);
background: rgba(222,191,94,1);
background: rgba(156,95,86,1);
 background: rgba(185,115,177,1);
  background: rgba(127,255,212,.9);

background: rgba(222,191,94,1);*/




