<div class='placeholder_container section'>

    <div class='placeholder trans showweb'>
        <div class=''>web</div>
        <ul class='cat-list'>
            <li>ux</li>
            <li>web design</li>

        </ul>
    </div>


    <div class='placeholder trans showdesign'>
        <div class=''>design</div>
        <ul class='cat-list'>
            <li>graphic</li>
            <li>object</li>

        </ul>
    </div>

    <a href='pintura.html'>
        <div class='placeholder trans showpictures'><div class=''>paint</div></div>
    </a>
    <a href='paper.html'>
        <div class='placeholder trans showobject'><div class=''>object</div></div>
    </a>
    <a href='photo.html'>
        <div class='placeholder trans showphotos'><div class=''>photo</div></div>
    </a>
    <a href='drawing.html'>
        <div class='placeholder trans showdrawings'><div class=''>draw</div></div>
    </a>



    <!-- <div class='placeholder seven'></div>
    <div class='placeholder eight'></div> -->
</div>