

Indice
    <!--div class='placeholder withChild trans showweb'>
        <div class=''>web</div>
        <ul class='cat-list'>
            <li>ux</li>
            <li>web design</li>

        </ul>
    </div-->


    <!--div class='placeholder withChild trans showdesign'>
        <div class=''>design</div>
        <ul class='cat-list'>
            <li>graphic</li>
            <li>object</li>

        </ul>
    </div-->


    <!--a href='/#/pintura'>
        <div class='placeholder simple trans showpictures'><div class=''>paint</div></div>
    </a>
    <a href='/#/paper'>
        <div class='placeholder simple trans showobject'><div class=''>object</div></div>
    </a>
    <a href='/#/photo'>
        <div class='placeholder simple trans showphotos'><div class=''>photo</div></div>
    </a>
    <a href='/#/drawing'>
        <div class='placeholder simple trans showdrawings'><div class=''>draw</div></div>
    </a-->



    <!-- <div class='placeholder seven'></div>
    <div class='placeholder eight'></div> -->
