<section id="photo" class="black">
    <div class="content">
        <slick infinite="false"  autoplay="true" autoplay-speed="6000"  class="slider-for" >
            
            <div ng-repeat="image in imageList" style="background-image:url({{image.url}})" class="image" >
                <h2>{{image.title}}</h2>

            </div>
        </slick>
        <!--<slick  slides-to-show="4" slides-to-scroll="1" as-nav-for=".slider-for" class="slider-nav" focus-on-select=true center-mode=true>-->
        <!--</slick>-->
    </div>

</section>