<section id="paint" class="black">
    <div class="content">
        <h2>la muñeca rota</h2>
        <!-- <p>The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought</p> -->
        <!--<div class="paint slider autoplay">-->
            <!--<div><div class="image">-->
                <!--<div class=''>hola desaparezco?</div>-->
            <!--</div></div>-->
        <!--</div>-->
        <slick autoplay=true autoplay-speed=6000 >
            <div class="image"></div>
            <div class="image"></div>
            <div class="image"></div>
            <div class="image"></div>
            <div class="image"></div>
            <div class="image"></div>

            <!--<div><div class="image"><img src="https://farm1.staticflickr.com/368/18287886786_5d05cc4c6d_b.jpg"/></div></div>-->
            <!--<div><div class="image"><img data-lazy="https://farm8.staticflickr.com/7774/17691657004_4791746bc7_b.jpg"/></div></div>-->
            <!--<div><div class="image"><img data-lazy="https://farm1.staticflickr.com/265/17694328793_a67b9ce9bb_b.jpg"/></div></div>-->
            <!--<div><div class="image"><img data-lazy="https://farm1.staticflickr.com/268/18128839709_e0d342503e_b.jpg"/></div></div>-->
            <!--<div><div class="image"><img data-lazy="https://farm1.staticflickr.com/368/18287886786_5d05cc4c6d_b.jpg"/></div></div>-->
            <!--<div><div class="image"><img data-lazy="https://farm1.staticflickr.com/352/18126412660_fb1856f8ce_b.jpg"/></div></div>-->
        </slick>
    </div>

</section>