<div class="superMenu" ng-class="containerClass">

    <index-menu-box box-title="web">
        <ul>
            <li>ux</li>
            <li>web design</li>

        </ul>
    </index-menu-box>
    <index-menu-box box-title="design">
        <ul>
            <li class="submenu">
                <a href="#/design">web</a>
            </li>
            <li>object</li>

        </ul>
    </index-menu-box>
    <index-menu-box box-title="paint" go-to="pintura"></index-menu-box>
    <index-menu-box box-title="object" go-to="object"></index-menu-box>
    <index-menu-box box-title="photo" go-to="photo"></index-menu-box>
    <index-menu-box box-title="draw" go-to="draw"></index-menu-box>
    <div class="clear"></div>

</div>